@media (max-width: 600px) {
    .root-sidebar {
        display: none;
    }
}

.root-page {
    height: 100%;
    width: 100%;
}

.root-top-container {
    width: 100%;
    height: calc(100% - var(--player-height));
    display: flex;
}

.root-sidebar {
    width: 15%;
    min-width: 150px;
    max-width: 250px;
}