.playlist-container {
    background-color: var(--content-bg-color);
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    --info-height: 170px;
}

.playlist-sticky-header {
    position: sticky;
    height: var(--sticky-header-height);
    padding: 0px 30px;
    top: 0px;
}

.playlist-sticky-header>div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.playlist-sticky-header svg {
    font-size: 35px;
    font-weight: 700;
    transition: transform .2s;
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--content-bg-color);
    border-radius: 50%;
}

.playlist-sticky-header svg:hover {
    transform: scale(1.08);
}

.playlist-sticky-header-play>span {
    font-size: 22px;
    font-weight: 700;
}

.playlist-info {
    height: var(--info-height);
    padding: 10px 30px;
    display: flex;
    gap: 20px;
}

.playlist-info>img {
    height: 100%;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5);
}

.playlist-info-texts {
    align-self: flex-end;
}

.playlist-info-type {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 0;
}

.playlist-info-name {
    font-weight: 700;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.playlist-info-description {
    font-weight: 100;
    font-size: 17px;
    color: var(--details-text-color);
}

.playlist-info-details {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px;
    margin-bottom: 0;
}

.playlist-info-dot {
    font-size: 8px;
}

@media only screen and (max-width: 991px) {
    .playlist-info {
        height: 100px;
    }

    .playlist-info-name {
        font-size: 20px;
    }
}