.sidebar {
    --padding-top-bottom: 10px;
    height: calc(100% - 2*(var(--padding-top-bottom)));
    padding: var(--padding-top-bottom) 15px;
    background-color: var(--sidebar-bg-color);
}

.sidebar-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.sidebar-logo>img {
    width: 30px;
    margin-right: 5px;
}

.navlink-home-title {
    font-size: 18px;
}

.navlink-home-icon {
    font-size: 25px;
}

.navlink-small-title,
.navlink-playlist-title {
    font-size: 14px;
}

.navlink-small-icon {
    font-size: 18px;
}

.navlink-playlist-icon {
    font-size: 10px;
}

.sidebar-nav-top {
    margin-top: 40px;
}

.sidebar-nav-top>ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar hr {
    margin: 20px 10px;
    border-top: 1px solid var(--primary-color);
    border-bottom: none;
}

.sidebar-nav-playlists>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}