.home-container {
    width: calc(100% - var(--sidebar-width));
    background-color: var(--content-bg-color);
    padding: 15px;
}

@media (max-width: 600px) {
    .home-container {
        width: 100%;
    }
}