body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
    height: 100%;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}